body {
    background-color: #121212;
    color: #e4e4e4;
    overflow-y: hidden;
}

.game {
    background-color: #2a2a2a;
    border: 0.2vw solid #7f5c30;
    border-radius: 1vw;
    min-height: 95.5vh;
    margin: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    font-size: clamp(20px, 2vw, 40px);
    margin: 1.2vw 2vw 0vw;
    display: inline-block;
    border-bottom: 0.2vw solid #7f5c30;
}

.story {
    font-size: clamp(15px, 0.9vw, 30px);
    margin: 1vw;
    padding: 1vw;
    background-color: #3d3d3d;
    border-radius: 0.5vw;
    flex-grow: 1;
    overflow-y: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.chat {
    display: flex;
    flex-direction: column;
    max-height: 88vh;
    justify-content: flex-end;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.input {
    display: flex;
    width: 96%;
    justify-content: space-between;
    align-items: center;
    margin: 0 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-top: 0.1vw solid #7f5c30;
}

.command {
    flex: 1;
    padding: 0.5vw;
    font-size: clamp(15px, 0.9vw, 30px);
    background-color: transparent;
    border: 0.1vw solid #7f5c30;
    border-radius: 0.3vw;
    color: white;
    outline: none;
    max-width: 94%;
}

.button {
    padding: 0.5vw 0.4vw;
    font-size: clamp(15px, 0.9vw, 30px);
    color: white;
    background-color: transparent;
    border: 0.1vw solid #7f5c30;
    border-radius: 0.3vw;
    cursor: pointer;
    flex-shrink: 0;
}

.userMessage {
    background-color: #6a4f33;
    border-radius: 1vw;
    margin-bottom: 1vw;
    padding: 1vw;
    max-width: 70%;
    align-self: flex-end;
    word-wrap: break-word;
    white-space: pre-wrap;
    color: #f5f5f5;
}

.aiMessage {
    background-color: #4e5a46;
    border-radius: 1vw;
    margin-bottom: 1vw;
    padding: 1vw;
    max-width: 70%;
    align-self: flex-start;
    word-wrap: break-word;
    white-space: pre-wrap;
    color: #d1e0c5;
}

.errorMessage {
    background-color: #444;
    color: white;
    border: 0.1vw solid #7f5c30;
    border-radius: 0.4vw;
    padding: 1vw;
    max-width: 70%;
    align-self: center;
    word-wrap: break-word;
    white-space: pre-wrap;
    display: none;
    font-size: clamp(15px, 1vw, 25px);
}
